body {
    background-color: #1a1a1a;
    background: url(images/wallpaper.png);
    background-size: cover;
    background-position: fixed;
    color: #ffff;
    font-family: 'Segoe UI';
}

h1 {
    text-align: center;
    color: #ffff;
}

p {
    text-align: center;
    color: #ffff;
}

h6 {
  text-align: center;
  color: #ffff;
}

a {
  color: #ffff;
}